/*--------------------------------Header styling */

header {padding: 0 1rem;
background-color: #52605f;
position: fixed;
z-index:99;
width:100%;}

.navbar-nav {
    --bs-nav-link-color: #FE7833;
    --bs-nav-link-hover-color: #f8f9fa;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-content: center;
    flex-direction: row;
    justify-content: flex-end;}

.bs-navbar-toggler-border-color {color:#FE7833;}
.active {color:#f8f9fa;}

.menu-items {color:#FE7833;}

.logo {background: url("../img/logo-no-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}